.center_page {   //Augmentation de la taille disponile sur les pages "list" car pas de section "soon"
  &--mention {
    min-height: 84.5%;
    justify-content: flex-start;
  }
}

#mention{
margin: 4rem 3rem 43vh 5rem;
text-align: center;
}